* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  position: relative;
}

.scene {
  width: 600px;
  height: 600px;
  border: 2px dotted white;
  position: relative;
  margin: 5px auto;
}

.system-point {
  text-align: center;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 150px;
  top: 10px;
 } 
.system-point h2{
    color: white;
}
 .system-point span{
    font-size: 40px;
    color: white;
 }

.pac {
  width: 20px;
  height: 20px;
  /*background-image:url('pac-man-fech.png');
    background-size: contain;
    background-position: center;*/
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.pac img {
  --rotation: 0;
  transform: rotate(calc(var(--rotation) * 1deg));
  transition: 0.4s;
  max-width: 100%;
}

/*********/

.foodPac {
  animation-name: apple;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  width: 15px;
  height: 15px;
  /*background-image:url('apple.png');
   background-size: cover;
   background-position: center;*/
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 10px;
}

.foodPac img {
  max-width: 100%;
}

@keyframes apple {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
